@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

body {
    font-family: 'Helvetica Neue', sans-serif;
}

#mapDiv {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#map { 
    width: 100%;
    height: calc(100vh - 61px);
}

#search-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 400;
    width: 100vw;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(90, 108, 234, 0.08);
    border-radius: 16px;
}

#search-bar img {
    object-fit: contain; /* The image keeps its aspect ratio, but is resized to fit within the given dimension */
}

#search-items {
    position: relative;
    background: #F4F6F9;
    border-radius: 100px;
    height: 45px;

}

#search-items input {
    background: #F4F6F9;
    max-width: 276px;
}

#option-icon {
    height: 45px;
}

#categories {
    position: absolute;
    top: 75px;
    left: 0px;
    z-index: 400;
    padding: 10px;
}

/* Hide Scrollbars But Keep Functionality 
Reference: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
*/
/* Hide scrollbar for Chrome, Safari and Opera */
#categories::-webkit-scrollbar {
    display: none;
  }
/* Hide scrollbar for IE, Edge and Firefox */
#categories {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

#categories button {
    border: 2px solid #00D1FF;
}

#categories #allButton {
    background: #00D1FF;
}

#button-group {
    position: absolute;
    top: 130px;
    right: 0px;
    z-index: 400;
}

#nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 400;
    background-color: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}

#nav-bar {
    width: 170px;
    height: 7px;
}

#nav ul {
    padding: 0;
    margin: 0;
}

#nav ul a {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    width: 90px;
}

#nav ul a:hover {
    color: #FFFFFF;
    background: #00D1FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#nav ul a:hover img{
    -webkit-filter: invert(100%);
}

#nav li {
    display: inline;
}

.modal-title {
    text-align: center;
    width: 100%;
}

.leaflet-control-attribution {
    display: none;
}

/* start up modals */
.startModal .modal-content {
    background-color: #29A0DA;
}

.startModal .modal-body {
    overflow-x: hidden;
}

.start-bg {
    width: 100%;
}

.startModal img {
    object-fit: none;
    /* The image is not resized */
}

.startModal h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.startModal p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/* https://stackoverflow.com/questions/51775461/why-is-flex-fill-not-creating-equal-width-in-bootstrap */
.flex-even {
    flex: 1;
}

#start3Modal button {
    background: #FFFFFF;
    border-radius: 16px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #00D1FF;
    width: 327px;
}
