.modal-header[class*="saved"]{
  padding-bottom: 24px;
  border-bottom: 4px solid #00D1FF !important;
}
.UserSaved__elem{
  border-bottom: 3px solid #cccccc;
  padding-top: 15px;
  box-shadow: 0px 24px 3px -24px #cccccc;
}

.UserSaved .UserSaved__elem h4{
  font-size: 20px;
}
.UserSaved .UserSaved__elem .UserSaved__elem__address{
  font-size: 15px;
}
.UserSaved__elem .UserSaved__elem__address{
  font-size: 15px; 
}
.UserSaved__elem p{
  font-size: 13px;
}
.UserSaved .UserSaved__elem div{
  padding: 0;
}


.AppSuggested__elem{
  border-bottom: 3px solid #cccccc;
  padding-top: 15px;
  box-shadow: 0px 24px 3px -24px #cccccc;
}

.AppSuggested .AppSuggested__elem h4{
  font-size: 20px;
}
.AppSuggested .AppSuggested__elem .AppSuggested__elem__address{
  font-size: 15px;
}
.AppSuggested__elem .AppSuggested__elem__address{
  font-size: 15px; 
}
.AppSuggested__elem p{
  font-size: 13px;
}
.AppSuggested .AppSuggested__elem div{
  padding: 0;
}

.more h3{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.more .more_elem{
  border-bottom: 3px solid #cccccc;
}

.modal-content .more .distance *{
font-weight: bold;
font-size: 16px;
}

.modal-content .more .distance button{
color: #00D1FF;
background-color: white;
border: 1px solid #00D1FF;
}
.modal-content .more .distance h4{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.modal-content .more .distance .distanceBtns .distanceBtn{
 width: 168px;
}

/*Distance toggle*/
#distanceBtnKM:focus{
  background-color: #00D1FF ;
  color: white ;
  border: none;
}
#distanceBtnMILES:focus{
  background-color: #00D1FF ;
  color: white ;
  border: none;
}
