/*SAVE START*/
.modal-header[class*="saved"]{
  padding-bottom: 24px;
  border-bottom: 4px solid #00D1FF !important;
}
.UserSaved__elem{
  border-bottom: 3px solid #cccccc;
  padding-top: 15px;
  box-shadow: 0px 24px 3px -24px #cccccc;
}

.UserSaved .UserSaved__elem h4{
  font-size: 20px;
}
.UserSaved .UserSaved__elem .UserSaved__elem__address{
  font-size: 15px;
}
.UserSaved__elem .UserSaved__elem__address{
  font-size: 15px; 
}
.UserSaved__elem p{
  font-size: 13px;
}
.UserSaved .UserSaved__elem div{
  padding: 0;
}
#nav-save {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 400;
  background-color: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
}

#nav-save ul {
  padding: 0;
  margin: 0;
}

#nav-save ul a {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  width: 90px;
}

#nav-save ul a:hover {
  color: #FFFFFF;
  background: #00D1FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#nav-save ul a:hover img{
  -webkit-filter: invert(100%);
}

#nav-save li {
  display: inline;
}
/*SAVE END*/

/*SUGGEST START*/
.AppSuggested__elem{
  border-bottom: 3px solid #cccccc;
  padding-top: 15px;
  box-shadow: 0px 24px 3px -24px #cccccc;
}

.AppSuggested .AppSuggested__elem h4{
  font-size: 20px;
}
.AppSuggested .AppSuggested__elem .AppSuggested__elem__address{
  font-size: 15px;
}
.AppSuggested__elem .AppSuggested__elem__address{
  font-size: 15px; 
}
.AppSuggested__elem p{
  font-size: 13px;
}
.AppSuggested .AppSuggested__elem div{
  padding: 0;
}
/*SUGGEST END*/

/*MORE START*/
.more h3{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.more .more_elem{
  border-bottom: 3px solid #cccccc;
}

.modal-content .more .distance *{
font-weight: bold;
font-size: 16px;
}

.modal-content .more .distance button{
color: #00D1FF;
background-color: white;
border: 1px solid #00D1FF;
}
.modal-content .more .distance h4{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.modal-content .more .distance .distanceBtns .distanceBtn{
 width: 168px;
}

/*Distance toggle*/
#distanceBtnKM:focus{
  background-color: #00D1FF ;
  color: white ;
  border: none;
}
#distanceBtnMILES:focus{
  background-color: #00D1FF ;
  color: white ;
  border: none;
}


#nav-prof {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 400;
  background-color: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
}

#nav-prof ul {
  padding: 0;
  margin: 0;
}

#nav-prof ul a {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  width: 90px;
}

#nav-prof ul a:hover {
  color: #FFFFFF;
  background: #00D1FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#nav-prof ul a:hover img{
  -webkit-filter: invert(100%);
}

#nav-prof li {
  display: inline;
}
/*MORE END*/

/*Events*/
.events__elem{
  border-bottom: 1px solid #cccccc;
}
.events__elem__details{
  background-color: #00D1FF;
  color: white;
  font-size: 15px;
}
.events__elem__type{
  font-size: 10px;
  border: 1px solid black;
  border-radius: 16px;
  width:100px;
  margin: 0;
}
.events__elem__address{
  font-size: 9px;
  margin-bottom: 8px;
}

.btn-pic{
  margin-right: 5px;
}
.type-btn-pic{
  margin-right: 3px;

}

.events_specif button:focus{
  color: white;
  background-color: #00D1FF;
  border: none;
}
.events h6{
  font-weight:bold;
}

#Events-search-bar{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 400;
  width: 100vw;
  background-color: #FFFFFF;
  border-radius: 16px;

}